<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list project</title>
  </head>
  <body>
    <h3>list project</h3>
    {{#each dataProjects}}
      <p>{{this.title}}</p>
      <p>{{this.description}}</p>
    {{/each}}

    {{! looping card project here }}
    {{!-- {{#each dataProjects}}
      <div class="card" style="width: 18rem;">
        <div class="image">
          <img src="${this.image}" class="card-img-top" alt="image" />
        </div>
        <div class="card-body project-title">
          <div class="card-title">
            <a href="/project/detail"><h3>${this.name}</h3></a>
            ${this.year > 0 ? `<p>durasi: ${this.year} tahun</p>` : this.month > 0 ? `<p>durasi: ${this.month} bulan</p>` : `<p>durasi: ${this.day} hari</p>`}
          </div>
          <p class="card-text">${this.description}</p>
          <div class="logo">
            ${this.datahtml ? `
            <i class="fa-brands fa-html5 fa-2xl"></i>` : ""} ${this.css ? `
            <i class="fa-brands fa-css3-alt fa-2xl"></i>` : ""} ${this.js ? `
            <i class="fa-brands fa-js fa-2xl"></i>` : ""} ${this.react ? `
            <i class="fa-brands fa-react fa-2xl"></i>` : ""}
          </div>

          <div class="btn-card">
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
    {{/each}} --}}
    {{! looping card project end }}
  </body>
</html>