@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
}
body {
  background-color: rgb(217, 226, 229);
  font-family: "Poppins", sans-serif;
}

/* Style navbar */
nav {
  background-color: whitesmoke;
}
.main-navbar {
  display: flex;
  padding: 20px 0;
  margin-left: 60px;
  margin-right: 60px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  gap: 50px;
}
.nav-list a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.nav-list a:hover {
  color: orangered;
}
.main-navbar img {
  height: 40px;
}
.btn-contact {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.humburger {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  display: none;
}
.btn-navbar {
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 6px 10px;
}
.btn-navbar:hover {
  color: white;
  background-color: orangered;
}

/* Style home */
.home {
  background-color: whitesmoke;
  margin: 50px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 60px;
  justify-content: space-around;
}
.describe {
  padding: 30px 0;
  width: 60%;
}
.describe-detail h1,
.describe-detail p {
  margin-bottom: 30px;
}
.info-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.download {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.download img {
  width: 25px;
  margin-left: 10px;
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 20px;
}
.icons img {
  width: 30px;
  cursor: pointer;
}
.profil {
  background-color: #ece9e9;
  width: 25%;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 20px lightgray;
}

.profil img {
  width: 100%;
}
.detail {
  margin: 20px auto;
}
.contact {
  background-color: black;
  color: white;
  border-radius: 13px;
  padding: 6px 20px;
  cursor: pointer;
}

/* Responsinve Large devices (laptop/desktop, 769px and up) */
@media only screen and (min-width: 769px) {
  .main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navigations {
    display: flex;
    flex-direction: row;
  }
  .btn-contact {
    margin-left: 100px;
  }
  .describe-detail p {
    text-align: justify;
  }
  .humburger-navbar {
    display: none;
  }
}

/* Responsive small devices (portrait tablet, larger phones, 600px - 768px) */
@media only screen and (max-width: 768px) {
  .home {
    flex-direction: column;
    align-items: center;
  }
  .describe {
    width: 100%;
  }
  .profil {
    width: 60%;
  }
  .banner {
    width: 100%;
  }
  .detail {
    margin: 10px auto;
  }
  .describe-detail p {
    text-align: justify;
  }
  .main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navigations {
    display: flex;
    flex-direction: row;
  }
  .btn-contact {
    margin-left: 100px;
  }
  .humburger-navbar {
    display: none;
  }
}

/* Responsive extra small devices (phones, 400px - 600px and down) */
@media only screen and (max-width: 735px) {
  .home {
    margin: 40px 30px;
    padding: 30px;
  }
  .icons {
    justify-content: center;
  }
  .main-navbar {
    margin: 0 30px;
  }
  .humburger {
    display: flex;
  }
  .navigations {
    display: none;
  }
  .humburger-active {
    display: flex;
  }
  .humburger-navbar {
    flex-direction: column;
  }
  .humburger-navbar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 2px solid white;
    background-color: #9a9a9a;
    text-align: center;
    font-weight: bold;
  }
  .humburger-navbar :nth-child(1) {
    background-color: orangered;
  }
}
